/*清除部分标签默认样式*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  overflow: hidden;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
h3,
h4,
h5,
strong {
  font-style: normal;
}
i {
  font-style: normal;
}
/* 页面公用样式 */
body {
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.page_title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  padding: 35px 40px 0;
  background-color: #0075c7;
}
.page_title .title {
  position: relative;
  line-height: 1em;
  font-size: 48px;
}
.page_title .title .time_range {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  font-size: 22px;
  color: rgba(255, 255, 255, 0.8);
}
.page_title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #888;
}
.page_main {
  position: relative;
  height: 100%;
  padding-top: 110px;
}
/* 组织结构页 */
.organization_main {
  padding-top: 40px;
}
.organization_main .title {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 36px;
  line-height: 60px;
}
.organization_main .chartContainer {
  height: 100%;
}
/* 站点布局页 */
.site_main {
  position: relative;
}
.site_main .mapContainer {
  height: 100%;
  margin-right: 300px;
}
.site_main #MapInfo {
  width: 300px;
  height: 100%;
  margin-top: 110px;
  color: #333;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 10;
  padding: 10px 7px 10px 8px;
  box-shadow: -1px 0px 3px #333333;
}
.site_main #MapInfo #txtPanel .markerList {
  padding-top: 10px;
}
.site_main #MapInfo #txtPanel .markerList .markerItem {
  min-height: 30px;
  position: relative;
  padding-left: 22px;
  margin-bottom: 10px;
}
.site_main #MapInfo #txtPanel .markerList .markerItem .icon {
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
  width: 19px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.site_main #MapInfo #txtPanel .markerList .markerItem .txt {
  font-size: 16px;
  padding: 2px 10px 2px 3px;
}
.site_main #MapInfo #txtPanel .markerList .markerItem .txt:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
.site_main #MapInfo #txtPanel .markerList .markerItem .txt .aLink {
  font-size: 18px;
  line-height: 24px;
  color: blue;
  background-color: transparent;
}
.site_main #MapInfo #txtPanel .markerList .markerItem .txt .info {
  font-size: 14px;
  line-height: 1.5em;
}
.site_main #MapInfo #txtPanel .centerList {
  padding-top: 10px;
}
.site_main #MapInfo #txtPanel .centerList .centerItem {
  border-top: 1px solid #fff;
}
.site_main #MapInfo #txtPanel .centerList .centerItem .centerLink {
  position: relative;
  display: block;
  padding: 0 0 0 20px;
  height: 50px;
  font-size: 20px;
  letter-spacing: 1px;
  color: #333;
  line-height: 50px;
  background-color: #f4f6f7;
}
.site_main #MapInfo #txtPanel .centerList .centerItem .centerLink .centerIcon {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.site_main #MapInfo #txtPanel .centerList .centerItem .centerLink .centerName {
  margin-left: 10px;
}
.site_main #MapInfo #txtPanel .centerList .centerItem .centerLink .arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.site_main #MapInfo #txtPanel .centerList .centerItem .stationList .stationItem {
  position: relative;
  min-height: 36px;
  color: #333;
  font-size: 14px;
  padding: 0 0 0 40px;
  border: none;
  margin-top: 5px;
  margin-bottom: 10px;
}
.site_main #MapInfo #txtPanel .centerList .centerItem .stationList .stationItem .icon {
  position: absolute;
  top: 5px;
  left: 20px;
  display: block;
  width: 19px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.site_main #MapInfo #txtPanel .centerList .centerItem .stationList .stationItem .txt {
  font-size: 16px;
  padding: 2px 10px 2px 3px;
}
.site_main #MapInfo #txtPanel .centerList .centerItem .stationList .stationItem .txt:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
.site_main #MapInfo #txtPanel .centerList .centerItem .stationList .stationItem .txt .aLink {
  font-size: 18px;
  line-height: 24px;
  color: blue;
  background-color: transparent;
}
.site_main #MapInfo #txtPanel .centerList .centerItem .stationList .stationItem .txt .info {
  font-size: 14px;
  line-height: 1.5em;
}
/* 突发事件统计页 */
.event_main .mapContainer {
  float: left;
  height: 100%;
  width: 60%;
}
.event_main .mapContainer .mapChart {
  height: 100%;
}
.event_main .data_statistics {
  float: right;
  width: 40%;
  height: 100%;
}
.event_main .data_statistics .data_list_container {
  height: 40%;
  padding: 40px 20px 0;
}
.event_main .data_statistics .data_list_container .data_list {
  height: 100%;
  padding: 0 30px;
  border: 1px solid #d0d4da;
  border-radius: 20px;
}
.event_main .data_statistics .data_list_container .data_list .data_item {
  position: relative;
  height: 20%;
  padding: 0 40px;
  font-size: 30px;
}
.event_main .data_statistics .data_list_container .data_list .data_item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #d9d9d9d9;
}
.event_main .data_statistics .data_list_container .data_list .data_item .event_info {
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
}
.event_main .data_statistics .data_list_container .data_list .data_item .event_info .event_level {
  display: inline-block;
  margin-bottom: 5px;
  width: 10px;
  height: 10px;
  border-radius: 3px;
  background-color: #cd3213;
}
.event_main .data_statistics .data_list_container .data_list .data_item .event_info .event_name {
  margin-left: 5px;
  color: #fff;
}
.event_main .data_statistics .data_list_container .data_list .data_item .event_info .event_name .unit {
  font-size: 24px;
  color: #d9d9d9d9;
}
.event_main .data_statistics .data_list_container .data_list .data_item .event_num {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}
.event_main .data_statistics .barChartContainer {
  height: 60%;
  padding: 40px 20px 0;
}
.event_main .data_statistics .barChartContainer .barChart {
  height: 100%;
}
/* 车辆平均反应半径和时间统计页 */
.response_main .chartContainer {
  float: left;
  width: 60%;
  height: 100%;
}
.response_main .chartContainer .barChart {
  height: 100%;
}
.response_main .tableContainer {
  position: relative;
  float: right;
  width: 40%;
  height: 100%;
}
.response_main .tableContainer .data_table {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
}
.response_main .tableContainer .data_table th,
.response_main .tableContainer .data_table td {
  width: 16.66666667%;
  height: 80px;
}
.response_main .tableContainer .data_table th {
  font-size: 22px;
}
.response_main .tableContainer .data_table td {
  font-size: 20px;
}
/* 当日无车原因及区域展示页 */
.noCar_main .mapContainer {
  float: left;
  height: 100%;
  width: 60%;
}
.noCar_main .mapContainer .mapChart {
  height: 100%;
}
.noCar_main .data_statistics {
  float: right;
  width: 40%;
  height: 100%;
}
.noCar_main .data_statistics .chartContainer {
  height: 100%;
}
.noCar_main .data_statistics .chartContainer .noCarPieChart {
  height: 100%;
}
/* 车组运行质控展示页 */
.car_main .barChartContainer {
  width: 100%;
  height: 100%;
}
.car_main .barChartContainer .carBarChart {
  height: 100%;
}
